<div id="nav" th:fragments="home">
  <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">

  <nav>
    <h1>My Shop</h1>

<!--    <div id="buttons">-->

<!--      <button>-->
<!--        <a href="/available" type="submit" th:href="@{/available}">ONLY AVAILABLE</a>-->
<!--      </button>-->

<!--      <button>-->
<!--        <a href="/cheapest" type="submit" th:href="@{/cheapest}"> CHEAPEST FIRST</a>-->
<!--      </button>-->

<!--      <button>-->
<!--        <a href="/nike" type="submit" th:href="@{/nike}">CONTAINS NIKE</a>-->
<!--      </button>-->

<!--      <button>-->
<!--        <a href="/average" type="submit" th:href="@{/average}">AVERAGE STOCK</a>-->
<!--      </button>-->

<!--      <button>-->
<!--        <a href="/excessive" type="submit" th:href="@{/excessive}">MOST EXPENSIVE AVAILABLE</a>-->
<!--      </button>-->

<!--    </div>-->

<!--    <form th:action="@{/search}">-->
<!--      <input type="text" name="searched" value="'Dont test me >.<  '"> </input>-->
<!--      <button type="submit">Search</button>-->
<!--    </form>-->


    <!--      <form th:action="@{/nike}">-->
    <!--      <button type="submit">Nike</button>-->
    <!--      </form>-->


  </nav>

</div>

<!--<form>-->
<!--  <div id="form">-->

<!--  </div>-->


<!--</form>-->